.footer {
  margin-top: auto;
  background: linear-gradient(90deg, #221f20, #221f20);
  padding: 35px 0;
}

.brand {
  color: #febd17;
}

.icon {
  color: #febd17;
}

.copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: #bdbdbd;
  font-size: 14px;
}
